.nav {
	height: 5rem;
	background-color: #faebd7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20rem;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}

.nav h1 {
	color: #412807ad;
	font-size: 2rem;
	font-weight: 500;
	margin-left: 1rem;
}

/* @media (max-width: 1246px) {
	.nav h1 {
		
	}
} */
